@charset "UTF-8";
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: bold;
  color: #282739;
}

@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  color: #282739;
}

@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}

@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  color: #5d6c7b;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #bdbdc4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00c6fb), to(#005bea));
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

.header__top {
  height: 39px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 17px;
}

.header__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5d6c7b;
  gap: 30px;
}

.header__top-item:visited {
  color: #5d6c7b;
}

.header__top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8.5px;
}

.header__top-number {
  margin-right: 9px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__top-number:hover {
  font-size: 13px;
}

.header__top-number:visited {
  color: #282739;
}

.header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 500;
}

.header__middle {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__middle-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  margin-right: 35px;
}

.header__middle-catalog {
  margin-right: 20px;
  background-color: #6f73ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  border: 1.5px solid #6f73ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.header__middle-catalog-name {
  margin-left: 13px;
  font-size: 16px;
  line-height: 23px;
  color: white;
}

.header__middle-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #6f73ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 55%;
  height: 40px;
  margin-right: 30px;
}

.header__middle-search .item-search__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  padding: 6px 14px;
}

.header__middle-search .item-search__toggle:visited {
  color: #282739;
}

.header__middle-search .item-search__input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #5d6c7b;
  width: 80%;
}

.header__middle-search .item-search__button {
  position: absolute;
  right: -2px;
  margin-left: auto;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6f73ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.header__middle-search .item-search__button .item-search__icon {
  margin-top: 25%;
}

.header__middle-cart {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.header__middle .item-cart__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  cursor: pointer;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.header__middle .item-cart__icon:hover {
  background-image: url(../icons/Heart2.svg);
}

.header__middle .item-cart__icon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  cursor: pointer;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.header__middle .item-cart__icon2:hover {
  background-image: url(../icons/cart2.svg);
}

.header__middle .item-cart__name {
  font-weight: 500;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.header__middle .item-cart__name:hover {
  font-size: large;
}

.header__middle .item-cart__name:visited {
  color: #282739;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.header__bottom .header__bottom-item {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__bottom .header__bottom-item:hover {
  color: red;
}

.header__bottom-item {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header__bottom-item .header__bottom-promo {
  background-color: #6f73ee;
  color: white;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  padding: 3px 8px;
  border-radius: 300px;
}

.header__bottom-item:visited {
  color: #282739;
}

.footer {
  margin-top: 73px;
}

.footer__mailing {
  background-color: #6f73ee;
}

.footer__mailing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
}

.footer__mailing .container .footer__mailing-title {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer__mailing .container .footer__mailing-input {
  margin-left: auto;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 15px 25px;
  color: white;
  min-width: 400px;
}

.footer__mailing .container .footer__mailing-button {
  border-radius: 5px;
  padding: 15px 25px;
  color: #6f73ee;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer__mailing .container .footer__mailing-button:hover {
  background-color: yellow;
}

.footer-head {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-head__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
}

.footer-head__left-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer-head__left-list-title {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.footer-head__left-list-text {
  color: #5d6c7b;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer-head__left-list-text:hover {
  color: red;
}

.footer-head__left-list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}

.footer-head__right {
  margin-left: auto;
}

.footer-head__right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer-head__right-top-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.footer-head__right-top-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #6f73ee;
  margin-left: auto;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer-head__right-top-link:hover {
  color: red;
}

.footer-head__right-main {
  margin-top: 17px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.footer-head__right-main .item-right__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.footer-head__right-main .item-right__contact {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin: 5px 0 7px 0;
}

.footer-head__right-main .item-right__time {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}

.footer-head__right-bottom {
  margin-top: 17px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.footer-head__right-bottom .item-right {
  max-width: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.footer-head__right-bottom .item-right__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.footer-head__right-bottom .item-right__phone {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}

.footer-main {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.footer-main__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-main__left-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  margin-right: 50px;
}

.footer-main__left-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.footer-main__left-store img {
  height: 25px;
}

.footer-main__left-store-content {
  color: #282739;
}

.footer-main__left-store-content .content-text {
  font-size: 12px;
}

.footer-main__left-store-content .content-store {
  font-size: 16px;
  font-weight: 700;
}

.footer-main__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-main__right .item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  padding: 5px 12px;
}

.footer-main__right .item-social__content-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}

.footer-main__right .item-social__content-counter {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #5d6c7b;
}

.footer-bottom {
  padding: 19px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__left-link {
  color: #5d6c7b;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer-bottom__left-link:hover {
  color: red;
}

.footer-bottom__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__right-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__right-social .right-social__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-bottom__right-social .right-social__img {
  height: 16px;
  width: 16px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

body .wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.slider {
  margin-top: 27px;
  background-image: url(../img/slider.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 420px;
  color: white;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__box {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid white;
  margin: 36px 0;
  width: 74px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.slider__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  max-width: 615px;
}

.slider__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin-top: 7px;
  margin-bottom: 25px;
}

.slider__button {
  background-color: white;
  color: #6f73ee;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 46px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.slider__button:hover {
  background-color: #d0d342;
}

.electricscooter .benefits__items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .electricscooter .benefits__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.electricscooter .benefits__items .item-benefit {
  position: relative;
}

.electricscooter .benefits__items .item-benefit__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
}

.electricscooter .benefits__items .item-benefit__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.electricscooter .benefits__items .item-benefit img {
  margin-top: 25px;
}

.electricscooter .benefits__items .item-benefit__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.electricscooter .benefits__items .item-benefit__right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.electricscooter .benefits__items .item-benefit__right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.electricscooter .benefits__items .item-benefit__right-bottom img {
  margin-bottom: 15px;
}

.electricscooter .benefits__items .item-benefit2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.electricscooter__cards-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.electricscooter__cards-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  margin-right: 30px;
}

.electricscooter__cards-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.electricscooter__cards-categories .item-category {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.electricscooter__cards-categories .item-category:hover {
  border: 2px solid #6f73ee;
  border-radius: 8px;
}

.electricscooter__cards-categories .item-category:visited {
  color: #282739;
}

.electricscooter__cards-categories .active {
  border: 2px solid #6f73ee;
  border-radius: 8px;
}

.electricscooter__cards .cards__items-seemore {
  display: block;
  margin: 50px auto;
  padding: 15px 25px;
  border: 1.3px solid #6f73ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.electricscooter__cards .cards__items-seemore:hover {
  color: white;
  background-color: #6f73ee;
}

.cards__items {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.cards__items .item-card {
  min-width: 0;
  width: 255px;
}

.cards__items .item-card__top {
  border: 1.5px solid #75d14a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}

.cards__items .item-card__mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.cards__items .item-card__mark .mark__info {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  background-color: #ee685f;
  padding: 4px 9px;
  border-radius: 5px;
  margin-left: 10px;
}

.cards__items .item-card__mark .mark__info2 {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  background-color: #75d14a;
  padding: 4px 9px;
  border-radius: 5px;
  margin-left: 10px;
}

.cards__items .item-card__mark .mark__scales {
  margin-top: 5px;
  margin-right: 15px;
}

.cards__items .item-card__slider {
  position: relative;
  min-width: 0;
  margin-bottom: 20px;
}

.cards__items .item-card__slider .slick-list {
  overflow: hidden;
}

.cards__items .item-card__slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__items .item-card__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 10px;
  height: 10px;
  padding: 10px;
  border-radius: 30px;
}

.cards__items .item-card__slider .slick-prev {
  left: 10px;
  background-image: url(../icons/left.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cards__items .item-card__slider .slick-next {
  right: 10px;
  background-image: url(../icons/right.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cards__items .item-card__bottom {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__items .item-card__bottom .card__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

.cards__items .item-card__bottom .card__patterns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 21px;
          column-gap: 21px;
}

.cards__items .item-card__bottom .card__patterns .card__pattern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  margin-bottom: 17px;
}

.cards__items .item-card__bottom .card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__items .item-card__bottom .card__price-left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.cards__items .item-card__bottom .card__price-left .card__price-crossedout {
  font-weight: 500;
  color: #5d6c7b;
  font-size: 12px;
  line-height: 17px;
  text-decoration: line-through;
}

.cards__items .item-card__bottom .card__price-left .card__price-real {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}

.cards__items .item-card__bottom .card__price-right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards__items .item-card__bottom .card__buy {
  font-weight: 400;
  color: white;
  font-size: 12px;
  line-height: 17px;
  background-color: #6f73ee;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.cards__items .item-card__bottom .card__buy:hover {
  background-color: #7a3aa5;
}

.dignity__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

@media (max-width: 950px) {
  .dignity__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.dignity__items .item-dignity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 540px;
  border: 2px solid #75d14a;
  border-radius: 12px;
}

.dignity__items .item-dignity__left {
  padding: 32px 40px;
}

.dignity__items .item-dignity__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
}

.dignity__items .item-dignity__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.dignity__items .item-dignity__link {
  font-weight: 500;
  color: #6f73ee;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.dignity__items .item-dignity__link:hover {
  color: red;
}

.dignity__items .item-dignity__right {
  border-radius: 10px;
  width: 200px;
}

.delivery {
  background-image: url(../img/back_delivery.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.delivery__left {
  margin-bottom: 5px;
}

@media (max-width: 1100px) {
  .delivery__left {
    display: none;
  }
}

.delivery__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 70px 0;
  margin-left: -80px;
  max-width: 440px;
}

.delivery__right-promo {
  font-weight: 400;
  color: white;
  background-color: #ee685f;
  padding: 4px 13px;
  border: 1px solid #ee685f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
}

.delivery__right-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  color: white;
  margin: 27px 0;
}

.delivery__right-button {
  font-weight: 400;
  background-color: white;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 23px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.delivery__right-button:hover {
  background-color: #c2c240;
}

.delivery__right-button:visited {
  color: #282739;
}

.popular__top {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__top .popular__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
}

.popular__top .popular__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  max-width: 280px;
}

.popular__top .popular__right .popular__image {
  border: 2px solid #75d14a;
  border-radius: 15px;
}

.popular__top .popular__right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popular__top .popular__right-content .popular__link {
  color: #6f73ee;
}

.popular__top .popular__right-content .popular__link:hover {
  color: red;
}

.popular__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular__galery .galery-item {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  border: 2px solid #75d14a;
  background-image: url(../img/galery/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-flex: 22%;
      -ms-flex: 22%;
          flex: 22%;
}

.popular__galery .galery-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 90%;
  margin: 10px;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  padding: 10px 16px;
}

.popular__galery .galery-item__content-text {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 2px;
}

.popular__galery .galery-item__content-price {
  color: white;
  font-weight: 500;
}

.popular__galery .galery-item2 {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  border: 2px solid #75d14a;
  background-image: url(../img/galery/2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-flex: 22%;
      -ms-flex: 22%;
          flex: 22%;
}

.popular__galery .galery-item2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 90%;
  margin: 10px;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  padding: 10px 16px;
}

.popular__galery .galery-item2__content-text {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 2px;
}

.popular__galery .galery-item2__content-price {
  color: white;
  font-weight: 500;
}

.popular__galery .galery-item3 {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  border: 2px solid #75d14a;
  background-image: url(../img/galery/3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-flex: 22%;
      -ms-flex: 22%;
          flex: 22%;
}

.popular__galery .galery-item3__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 90%;
  margin: 10px;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  padding: 10px 16px;
}

.popular__galery .galery-item3__content-text {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 2px;
}

.popular__galery .galery-item3__content-price {
  color: white;
  font-weight: 500;
}

.popular__items-seemore {
  display: block;
  margin: 50px auto;
  padding: 15px 25px;
  border: 1.3px solid #6f73ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.popular__items-seemore:hover {
  color: white;
  background-color: #6f73ee;
}

.dealer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.dealer__image {
  position: relative;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  margin-left: 60px;
  height: 560px;
  background-image: url(../img/dealer.png);
  background-repeat: no-repeat;
  background-position: center;
}

.dealer__image-blur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  width: 230px;
  height: 25%;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.dealer__image-blur .image-blur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 17px 21px;
  gap: 5px;
}

.dealer__image-blur .image-blur__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.dealer__image-blur .image-blur__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.dealer__image-blur .image-blur__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dealer__image-blur .image-blur__button-link {
  cursor: pointer;
  background-color: #6f73ee;
  color: white;
  padding: 11px 22px;
  border-radius: 10px 0 0 10px;
  width: 100%;
}

.dealer__image-blur .image-blur__button-icon {
  cursor: pointer;
  background-color: #6f73ee;
  padding: 0 21px;
  border-radius: 0 10px 10px 0;
}

.dealer__content {
  margin-right: 135px;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
}

.dealer__content-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
}

.dealer__content-text {
  margin-top: 18px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #282739;
}

.dealer__content-list {
  font-weight: 500;
  font-style: 14px;
  line-height: 20px;
  margin-bottom: 13px;
  list-style-image: url(../icons/triangle-left.svg);
}

.dealer__content-list li:nth-child(1) {
  margin-top: 13px;
}

.dealer__content-list li {
  font-weight: 400;
  color: #282739;
}

.dealer__content-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #6f73ee;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.dealer__content-link:hover {
  color: red;
}

.benefits {
  margin: 100px;
}

.benefits__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 50px;
}

.benefits__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__toggle-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #6f73ee;
  padding: 15px 25px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.benefits__toggle-button:hover {
  border-radius: 5px;
  border: 1.3px solid #6f73ee;
}

.benefits__toggle .active {
  padding: 15px 25px;
  border-radius: 5px;
  border: 1.3px solid #6f73ee;
}

.benefits__items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.benefits__items .item-benefit {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  padding: 30px 20px;
}

.benefits__items .item-benefit__title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.benefits__items .item-benefit__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.benefits__items .item-benefit__text a {
  color: #6f73ee;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.benefits__items .item-benefit__text a:hover {
  color: red;
}

.benefits__items .benefit-more {
  background-image: url(../img/benefit-right.png);
  background-position: right;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  border: 2px solid #75d14a;
}

.benefits__items .benefit-more .item-benefit__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__items .benefit-more .item-benefit__link a {
  padding-right: 20px;
  color: #6f73ee;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.benefits__items .benefit-more .item-benefit__link a:hover {
  color: red;
}

.benefits__items .benefit-more .item-benefit__link img {
  cursor: pointer;
}

.reviews {
  margin-top: 100px;
}

.reviews__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
}

.reviews__link {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__link a {
  color: #6f73ee;
  padding-right: 8px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.reviews__link a:hover {
  color: red;
}

.reviews__link img {
  cursor: pointer;
}

.reviews__items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__items .item-review {
  background-image: url(../img/review3.png);
  width: 378px;
  height: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 22px 23px;
  border: 2px solid #75d14a;
  border-radius: 10px;
  color: white;
}

.reviews__items .item-review__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.reviews__items .item-review__top img {
  border-radius: 30px;
  border: 2px solid #75d14a;
}

.reviews__items .item-review__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__items .item-review__top-right-right-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.reviews__items .item-review__top-right-right-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.reviews__items .item-review__middle {
  margin-top: 19px;
  margin-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.reviews__items .item-review__middle-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  opacity: 0.7;
}

.reviews__items .item-review__bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.survey {
  margin-top: 100px;
}

.survey__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.survey__top-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
}

.survey__top-link {
  cursor: pointer;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.survey__top-link a {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #6f73ee;
}

.survey__top-link a:hover {
  color: red;
}

.survey__text {
  margin-top: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 400px;
  margin-bottom: 50px;
}

.survey__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: relative;
}

@media (max-width: 800px) {
  .survey__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.survey__item-1-image {
  background-image: url("../img/survey1.png");
  width: 540px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #75d14a;
}

.survey__item-1-image img {
  display: block;
  margin: 100px auto;
  cursor: pointer;
}

.survey__item-1-text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.survey__item-2-image {
  background-image: url("../img/survey2.png");
  width: 350px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #75d14a;
}

.survey__item-2-image img {
  width: 68px;
  height: 68px;
  display: block;
  margin: 66px auto;
  cursor: pointer;
}

.survey__item-2-text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.survey__item-3-image {
  background-image: url("../img/survey3.png");
  width: 350px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #75d14a;
}

.survey__item-3-image img {
  width: 68px;
  height: 68px;
  display: block;
  margin: 66px auto;
  cursor: pointer;
}

.survey__item-3-text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.survey__item-4 {
  position: absolute;
  left: 80%;
  top: 20%;
  cursor: pointer;
}

.newarts {
  margin-top: 100px;
}

.newarts__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
}

.newarts__items {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 800px) {
  .newarts__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.newarts__items .item-newart {
  cursor: pointer;
  max-width: 350px;
}

.newarts__items .item-newart__image {
  border: 2px solid #75d14a;
  border-radius: 10px 10px 0 0;
}

.newarts__items .item-newart-middle {
  padding: 20px;
}

.newarts__items .item-newart-middle__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.newarts__items .item-newart-middle__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 11px;
  margin-bottom: 18px;
}

.newarts__items .item-newart-middle__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.newarts__items .item-newart-middle__bottom-parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.newarts__items .item-newart-middle__bottom-parts-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.faq {
  margin-top: 100px;
}

.faq__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
}

.block {
  display: block;
  margin: 60px auto;
  width: 735px;
}

.block__item {
  margin: 0px 0px 0px 0px;
}

.block__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  background-color: transparent;
  color: #282739;
  padding: 10px;
  position: relative;
  height: 60px;
  width: 100%;
}

.block._init .block__title {
  cursor: pointer;
}

.block._init .block__title {
  padding: 10px 10px 10px 10px;
}

.block._init .block__title::before,
.block._init .block__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #282739;
  position: absolute;
  right: 0;
  top: 20px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.block._init .block__title::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.block._init .block__title._active::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.block__text {
  margin-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.recentlypurchase__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}
