@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header__top {
  height: 39px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 17px;
}

.header__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5d6c7b;
  gap: 30px;
}

.header__top-item:visited {
  color: #5d6c7b;
}

.header__top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8.5px;
}

.header__top-number {
  margin-right: 9px;
}

.header__top-number:visited {
  color: #282739;
}

.header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 500;
}

.header__middle {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__middle-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  margin-right: 35px;
}

.header__middle-catalog {
  margin-right: 20px;
  background-color: #6f73ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 15px;
  border: 1.5px solid #6f73ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.header__middle-catalog-name {
  margin-left: 13px;
  font-size: 16px;
  line-height: 23px;
  color: white;
}

.header__middle-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #6f73ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 55%;
  height: 40px;
  margin-right: 30px;
}

.header__middle-search .item-search__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  padding: 6px 14px;
}

.header__middle-search .item-search__toggle:visited {
  color: #282739;
}

.header__middle-search .item-search__input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #5d6c7b;
  width: 80%;
}

.header__middle-search .item-search__button {
  position: absolute;
  right: -2px;
  margin-left: auto;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6f73ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
}

.header__middle-search .item-search__button .item-search__icon {
  margin-top: 25%;
}

.header__middle-cart {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.header__middle .item-cart__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__middle .item-cart__cart:visited {
  color: #282739;
}

.header__middle .item-cart__name {
  font-weight: 500;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.header__bottom .header__bottom-item {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__bottom .header__bottom-item:hover {
  color: red;
}

.header__bottom-item {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header__bottom-item .header__bottom-promo {
  background-color: #6f73ee;
  color: white;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  padding: 3px 8px;
  border-radius: 300px;
}

.header__bottom-item:visited {
  color: #282739;
}

@font-face {
  font-family: "Jost";
  src: url(fonts/Jost-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}

@font-face {
  font-family: "Jost";
  src: url(fonts/Jost-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url(fonts/Jost-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  color: #282739;
  font-size: 14px;
  line-height: 20px;
}

@font-face {
  font-family: "Jost";
  src: url(fonts/Jost-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

body .wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.slider {
  margin-top: 27px;
  background-image: url(../img/slider.png);
  width: 100%;
  height: 420px;
  color: white;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__box {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid white;
  margin: 36px 0;
  width: 74px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.slider__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  max-width: 615px;
}

.slider__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin-top: 7px;
  margin-bottom: 25px;
}

.slider__button {
  background-color: white;
  color: #6f73ee;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 46px;
}
