$gray: #5d6c7b;
$black: #282739;
$purple: #6f73ee;
$green: #75d14a;

@font-face {
    font-family: "Jost";
    src: url(../fonts/Jost-Bold.ttf);
    font-weight: 700;
    font-display: swap;
    font-style: bold;
    color: $black;
}

@font-face {
    font-family: "Jost";
    src: url(../fonts/Jost-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    color: $black;
}

@font-face {
    font-family: "Jost";
    src: url(../fonts/Jost-Medium.ttf);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: $black;
}

@font-face {
    font-family: "Jost";
    src: url(../fonts/Jost-Regular.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    color: $gray;
}

// Меняем скроллбар

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #bdbdc4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
}

.header__top {
    height: 39px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 17px;
    &-left {
        display: flex;
        color: $gray;
        gap: 30px;
    }

    &-item {
        &:visited {
            color: $gray;
        }
    }

    &-social {
        display: flex;
        gap: 8.5px;
    }

    &-number {
        margin-right: 9px;
        transition: all 0.5s ease 0s;
        &:hover {
            font-size: 13px;
        }
        &:visited {
            color: $black;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-weight: 500;
    }
}

.header__middle {
    height: 80px;
    display: flex;
    align-items: center;
    &-logo {
        font-weight: 700;
        font-size: 30px;
        line-height: 43px;
        margin-right: 35px;
    }

    &-catalog {
        margin-right: 20px;
        background-color: $purple;
        display: flex;
        align-items: center;
        padding: 8px 15px;
        border: 1.5px solid $purple;
        box-sizing: border-box;
        border-radius: 5px;
        &-name {
            margin-left: 13px;
            font-size: 16px;
            line-height: 23px;
            color: white;
        }
    }

    &-search {
        position: relative;
        display: flex;
        align-items: center;
        border: 1.5px solid $purple;
        box-sizing: border-box;
        border-radius: 5px;
        width: 55%;
        height: 40px;
        margin-right: 30px;
        .item-search {
            &__toggle {
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 6px 14px;
                &:visited {
                    color: $black;
                }
            }

            &__input {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $gray;
                width: 80%;
            }

            &__button {
                position: absolute;
                right: -2px;
                margin-left: auto;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $purple;
                box-sizing: border-box;
                border-radius: 0px 5px 5px 0px;
                cursor: pointer;
                .item-search__icon {
                    margin-top: 25%;
                }
            }
        }
    }

    &-cart {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
    .item-cart__icon {
        display: flex;
        gap: 10px;
        cursor: pointer;
        transition: all 1s ease 0s;
        &:hover {
            background-image: url(../icons/Heart2.svg);
        }
    }
    .item-cart__icon2 {
        display: flex;
        gap: 10px;
        cursor: pointer;
        transition: all 1s ease 0s;
        &:hover {
            background-image: url(../icons/cart2.svg);
        }
    }
    .item-cart__name {
        font-weight: 500;
        transition: all 0.5s ease 0s;
        cursor: pointer;
        &:hover {
            font-size: large;
        }
        &:visited {
            color: $black;
        }
    }
}

.header__bottom {
    display: flex;
    gap: 50px;
    align-items: center;
    height: 40px;
    .header__bottom-item {
        transition: all 0.5s ease 0s;
    }
    .header__bottom-item:hover {
        color: red;
    }
    &-item {
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px;
        .header__bottom-promo {
            background-color: $purple;
            color: white;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            padding: 3px 8px;
            border-radius: 300px;
        }
        &:visited {
            color: $black;
        }
    }
}
