@import "_nullstyle";
@import "_header";
@import "_footer";

// переход на адаптив на 790px

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    .wrapper {
        overflow: hidden;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.slider {
    margin-top: 27px;
    background-image: url(../img/slider.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 420px;
    color: white;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__box {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        border: 1px solid white;
        margin: 36px 0;
        width: 74px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 5px;
    }

    &__title {
        font-weight: 600;
        font-size: 35px;
        line-height: 51px;
        max-width: 615px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        margin-top: 7px;
        margin-bottom: 25px;
    }

    &__button {
        background-color: white;
        color: $purple;
        padding: 15px 25px;
        border-radius: 5px;
        margin-bottom: 46px;
        transition: all 0.6s ease 0s;
        &:hover {
            background-color: rgb(208, 211, 66);
        }
    }
}

.electricscooter {
    .benefits__items {
        margin-top: 30px;
        display: flex;
        flex-wrap: nowrap;
        @media (max-width: 800px) {
            flex-wrap: wrap;
        }
        gap: 40px;
        justify-content: space-between;
        .item-benefit {
            position: relative;
            &__title {
                font-weight: 600;
                font-size: 25px;
                line-height: 36px;
            }

            &__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
            }
            img {
                margin-top: 25px;
            }
            &__right {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                &-top {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &-bottom {
                    display: flex;
                    height: 30px;
                    gap: 5px;
                    align-items: center;
                    justify-content: center;
                    img {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .item-benefit2 {
            display: flex;
            align-items: center;
        }
    }
    &__cards {
        &-top {
            display: flex;
            justify-content: space-between;
            margin: 40px 0;
        }

        &-title {
            font-weight: 600;
            font-size: 35px;
            line-height: 51px;
            margin-right: 30px;
        }

        &-categories {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            flex-wrap: wrap;
            .item-category {
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                &:hover {
                    border: 2px solid $purple;
                    border-radius: 8px;
                }
                &:visited {
                    color: $black;
                }
            }
            .active {
                border: 2px solid $purple;
                border-radius: 8px;
            }
        }
        .cards__items-seemore {
            display: block;
            margin: 50px auto;
            padding: 15px 25px;
            border: 1.3px solid $purple;
            box-sizing: border-box;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            transition: all 1s ease 0s;
            &:hover {
                color: white;
                background-color: $purple;
            }
        }
    }
}

.cards__items {
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    .item-card {
        min-width: 0;
        width: 255px;
        &__top {
            border: 1.5px solid $green;
            box-sizing: border-box;
            border-radius: 10px 10px 0 0;
        }
        &__mark {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .mark__info {
                color: white;
                font-weight: 500;
                font-size: 12px;
                line-height: 17px;
                background-color: #ee685f;
                padding: 4px 9px;
                border-radius: 5px;
                margin-left: 10px;
            }
            .mark__info2 {
                color: white;
                font-weight: 500;
                font-size: 12px;
                line-height: 17px;
                background-color: $green;
                padding: 4px 9px;
                border-radius: 5px;
                margin-left: 10px;
            }
            .mark__scales {
                margin-top: 5px;
                margin-right: 15px;
            }
        }
        &__slider {
            position: relative;
            min-width: 0;
            margin-bottom: 20px;
            .slick-list {
                overflow: hidden;
                .slick-track {
                    display: flex;
                }
            }
            .slick-arrow {
                position: absolute;
                top: 50%;
                z-index: 10;
                font-size: 0;
                width: 10px;
                height: 10px;
                padding: 10px;
                border-radius: 30px;
            }
            .slick-prev {
                left: 10px;
                background-image: url(../icons/left.svg);
                background-position: center;
                background-repeat: no-repeat;
            }
            .slick-next {
                right: 10px;
                background-image: url(../icons/right.svg);
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        &__bottom {
            padding: 15px;
            display: flex;
            flex-direction: column;
            .card__title {
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 20px;
            }
            .card__patterns {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                column-gap: 21px;
                .card__pattern {
                    display: flex;
                    gap: 10px;
                    flex: 40%;
                    margin-bottom: 17px;
                }
            }
            .card__price {
                display: flex;
                &-left {
                    flex: 50%;
                    .card__price-crossedout {
                        font-weight: 500;
                        color: $gray;
                        font-size: 12px;
                        line-height: 17px;
                        text-decoration: line-through;
                    }
                    .card__price-real {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 29px;
                    }
                }
                &-right {
                    flex: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
            }
            .card__buy {
                font-weight: 400;
                color: white;
                font-size: 12px;
                line-height: 17px;
                background-color: $purple;
                text-align: center;
                padding: 10px 0;
                border-radius: 5px;
                margin-top: 10px;
                transition: all 0.5s ease 0s;
                &:hover {
                    background-color: #7a3aa5;
                }
            }
        }
    }
}

.dignity {
    &__items {
        display: flex;
        justify-content: center;
        gap: 30px;
        @media (max-width: 950px) {
            flex-wrap: wrap;
        }
        .item-dignity {
            display: flex;
            width: 540px;
            border: 2px solid $green;
            border-radius: 12px;
            &__left {
                padding: 32px 40px;
            }
            &__title {
                font-weight: 600;
                font-size: 25px;
                line-height: 36px;
            }
            &__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
            }
            &__link {
                font-weight: 500;
                color: $purple;
                transition: all 0.5s ease 0s;
                &:hover {
                    color: red;
                }
            }
            &__right {
                border-radius: 10px;
                width: 200px;
            }
        }
    }
}

.delivery {
    background-image: url(../img/back_delivery.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    &__left {
        margin-bottom: 5px;
        @media (max-width: 1100px) {
            display: none;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 70px 0;
        margin-left: -80px;
        max-width: 440px;
        &-promo {
            font-weight: 400;
            color: white;
            background-color: #ee685f;
            padding: 4px 13px;
            border: 1px solid #ee685f;
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 14px;
            line-height: 20px;
        }
        &-title {
            font-weight: 600;
            font-size: 35px;
            line-height: 51px;
            color: white;
            margin: 27px 0;
        }
        &-button {
            font-weight: 400;
            background-color: white;
            padding: 15px 25px;
            border-radius: 5px;
            font-size: 16px;
            line-height: 23px;
            transition: all 0.5s ease 0s;
            &:hover {
                background-color: rgb(194, 194, 64);
            }
            &:visited {
                color: $black;
            }
        }
    }
}

.popular {
    &__top {
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        .popular__title {
            font-weight: 600;
            font-size: 35px;
            line-height: 51px;
        }
        .popular__right {
            display: flex;
            gap: 20px;
            max-width: 280px;
            .popular__image {
                border: 2px solid $green;
                border-radius: 15px;
            }
            &-content {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                font-weight: 500;
                font-size: 12px;
                line-height: 17px;
                transition: all 0.5s ease 0s;
                .popular__link {
                    color: #6f73ee;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
    &__galery {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        .galery-item {
            position: relative;
            width: 250px;
            height: 250px;
            border-radius: 15px;
            border: 2px solid $green;
            background-image: url(../img/galery/1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            flex: 22%;
            &__content {
                display: flex;
                position: absolute;
                width: 90%;
                margin: 10px;
                bottom: 0;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(10px);
                /* Note: backdrop-filter has minimal browser support */
                border-radius: 10px;
                padding: 10px 16px;
                &-text {
                    color: white;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 2px;
                }
                &-price {
                    color: white;
                    font-weight: 500;
                }
            }
        }
        .galery-item2 {
            position: relative;
            width: 250px;
            height: 250px;
            border-radius: 15px;
            border: 2px solid $green;
            background-image: url(../img/galery/2.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            flex: 22%;
            &__content {
                display: flex;
                position: absolute;
                width: 90%;
                margin: 10px;
                bottom: 0;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(10px);
                /* Note: backdrop-filter has minimal browser support */
                border-radius: 10px;
                padding: 10px 16px;
                &-text {
                    color: white;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 2px;
                }
                &-price {
                    color: white;
                    font-weight: 500;
                }
            }
        }
        .galery-item3 {
            position: relative;
            width: 250px;
            height: 250px;
            border-radius: 15px;
            border: 2px solid $green;
            background-image: url(../img/galery/3.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            flex: 22%;
            &__content {
                display: flex;
                position: absolute;
                width: 90%;
                margin: 10px;
                bottom: 0;
                flex-direction: column;
                background: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(10px);
                /* Note: backdrop-filter has minimal browser support */
                border-radius: 10px;
                padding: 10px 16px;
                &-text {
                    color: white;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 2px;
                }
                &-price {
                    color: white;
                    font-weight: 500;
                }
            }
        }
    }
    &__items-seemore {
        display: block;
        margin: 50px auto;
        padding: 15px 25px;
        border: 1.3px solid $purple;
        box-sizing: border-box;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        transition: all 1s ease 0s;
        &:hover {
            color: white;
            background-color: $purple;
        }
    }
}

.dealer {
    display: flex;
    align-items: center;
    gap: 80px;
    &__image {
        position: relative;
        flex: 45%;
        margin-left: 60px;
        height: 560px;
        background-image: url(../img/dealer.png);
        background-repeat: no-repeat;
        background-position: center;
        &-blur {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            /* Note: backdrop-filter has minimal browser support */
            width: 230px;
            height: 25%;
            border-radius: 10px;
            position: absolute;
            bottom: 20px;
            right: 30px;
            .image-blur {
                display: flex;
                flex-direction: column;
                padding: 17px 21px;
                gap: 5px;
                &__title {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                }
                &__text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
            .image-blur__button {
                display: flex;
            }
            .image-blur__button-link {
                cursor: pointer;
                background-color: $purple;
                color: white;
                padding: 11px 22px;
                border-radius: 10px 0 0 10px;
                width: 100%;
            }
            .image-blur__button-icon {
                cursor: pointer;
                background-color: $purple;
                padding: 0 21px;
                border-radius: 0 10px 10px 0;
            }
        }
    }
    &__content {
        margin-right: 135px;
        flex: 45%;
        &-title {
            font-weight: 600;
            font-size: 35px;
            line-height: 51px;
        }
        &-text {
            margin-top: 18px;
            margin-bottom: 60px;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: $black;
        }
        &-list {
            font-weight: 500;
            font-style: 14px;
            line-height: 20px;
            margin-bottom: 13px;
            list-style-image: url(../icons/triangle-left.svg);
            li:nth-child(1) {
                margin-top: 13px;
            }
            li {
                font-weight: 400;
                color: $black;
            }
        }
        &-link {
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            color: $purple;
            transition: all 0.5s ease 0s;
            &:hover {
                color: red;
            }
        }
    }
}

.benefits {
    margin: 100px;
    &__title {
        font-weight: 600;
        font-size: 35px;
        line-height: 51px;
        text-align: center;
        text-transform: uppercase;
    }
    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        margin-top: 18px;
        margin-bottom: 50px;
    }
    &__toggle {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        &-button {
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: $purple;
            padding: 15px 25px;
            transition: all 1s ease 0s;
            &:hover {
                border-radius: 5px;
                border: 1.3px solid $purple;
            }
        }
        .active {
            padding: 15px 25px;
            border-radius: 5px;
            border: 1.3px solid $purple;
        }
    }
    &__items {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .item-benefit {
            flex: 30%;
            padding: 30px 20px;
            &__title {
                margin-top: 20px;
                margin-bottom: 8px;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
            }
            &__text {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                a {
                    color: $purple;
                    transition: all 0.5s ease 0s;
                }
                a:hover {
                    color: red;
                }
            }
        }
        .benefit-more {
            background-image: url(../img/benefit-right.png);
            background-position: right;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            border: 2px solid $green;
            .item-benefit__link {
                display: flex;
                a {
                    padding-right: 20px;
                    color: $purple;
                    transition: all 0.5s ease 0s;
                    &:hover {
                        color: red;
                    }
                }
                img {
                    cursor: pointer;
                }
            }
        }
    }
}

.reviews {
    margin-top: 100px;
    &__title {
        font-weight: 600;
        font-size: 35px;
        line-height: 51px;
        text-align: center;
        text-transform: uppercase;
    }
    &__link {
        margin-top: 17px;
        display: flex;
        justify-content: center;
        a {
            color: $purple;
            padding-right: 8px;
            transition: all 0.5s ease 0s;
            &:hover {
                color: red;
            }
        }
        img {
            cursor: pointer;
        }
    }
    &__items {
        margin-top: 50px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        .item-review {
            background-image: url(../img/review3.png);
            width: 378px;
            height: 284px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 22px 23px;
            border: 2px solid $green;
            border-radius: 10px;
            color: white;
            &__top {
                display: flex;
                gap: 15px;
                img {
                    border-radius: 30px;
                    border: 2px solid $green;
                }
                &-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &-right-title {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 23px;
                    }
                    &-right-text {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 17px;
                    }
                }
            }
            &__middle {
                margin-top: 19px;
                margin-bottom: 11px;
                display: flex;
                gap: 14px;
                &-text {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 17px;
                    opacity: 0.7;
                }
            }
            &__bottom {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

.survey {
    margin-top: 100px;
    &__top {
        display: flex;
        align-items: center;
        &-title {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 35px;
            line-height: 51px;
        }
        &-link {
            cursor: pointer;
            margin-left: auto;
            display: flex;
            gap: 8px;
            a {
                transition: all 0.5s ease 0s;
                color: $purple;
                &:hover {
                    color: red;
                }
            }
        }
    }
    &__text {
        margin-top: 17px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        max-width: 400px;
        margin-bottom: 50px;
    }
    &__item {
        display: flex;
        @media (max-width: 800px) {
            flex-wrap: wrap;
        }
        gap: 30px;
        position: relative;
        &-1 {
            &-image {
                background-image: url("../img/survey1.png");
                width: 540px;
                height: 300px;
                border-radius: 10px;
                border: 2px solid $green;
                img {
                    display: block;
                    margin: 100px auto;
                    cursor: pointer;
                }
            }
            &-text {
                margin-top: 20px;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
            }
        }
        &-2 {
            &-image {
                background-image: url("../img/survey2.png");
                width: 350px;
                height: 200px;
                border-radius: 10px;
                border: 2px solid $green;
                img {
                    width: 68px;
                    height: 68px;
                    display: block;
                    margin: 66px auto;
                    cursor: pointer;
                }
            }
            &-text {
                margin-top: 20px;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
            }
        }
        &-3 {
            &-image {
                background-image: url("../img/survey3.png");
                width: 350px;
                height: 200px;
                border-radius: 10px;
                border: 2px solid $green;
                img {
                    width: 68px;
                    height: 68px;
                    display: block;
                    margin: 66px auto;
                    cursor: pointer;
                }
            }
            &-text {
                margin-top: 20px;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
            }
        }
        &-4 {
            position: absolute;
            left: 80%;
            top: 20%;
            cursor: pointer;
        }
    }
}

.newarts {
    margin-top: 100px;
    &__title {
        font-weight: 600;
        font-size: 35px;
        line-height: 51px;
        text-transform: uppercase;
    }
    &__items {
        margin-top: 60px;
        display: flex;
        gap: 30px;
        @media (max-width: 800px) {
            flex-wrap: wrap;
        }
        .item-newart {
            cursor: pointer;
            max-width: 350px;
            &__image {
                border: 2px solid $green;
                border-radius: 10px 10px 0 0;
            }
            &-middle {
                padding: 20px;

                &__title {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                }
                &__text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 11px;
                    margin-bottom: 18px;
                }
                &__bottom {
                    display: flex;
                    gap: 25px;
                    &-parts {
                        display: flex;
                        gap: 10px;
                        &-value {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }
    }
}

.faq {
    margin-top: 100px;
    &__title {
        font-weight: 600;
        font-size: 35px;
        line-height: 51px;
        text-align: center;
        text-transform: uppercase;
    }
}

.block {
    display: block;
    margin: 60px auto;
    width: 735px;
}

.block__item {
    margin: 0px 0px 0px 0px;
}
.block__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    background-color: transparent;
    color: $black;
    padding: 10px;
    position: relative;
    height: 60px;
    width: 100%;
}

.block._init .block__title {
    cursor: pointer;
}

.block._init .block__title {
    padding: 10px 10px 10px 10px;
}

.block._init .block__title::before,
.block._init .block__title::after {
    content: "";
    width: 20px;
    height: 1px;
    background-color: $black;
    position: absolute;
    right: 0;
    top: 20px;
    transition: transform 0.3s ease 0s;
}
.block._init .block__title::after {
    transform: rotate(-90deg);
}
.block._init .block__title._active::after {
    transform: rotate(0deg);
}

.block__text {
    margin-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.recentlypurchase {
    &__title {
        font-weight: 600;
        font-size: 35px;
        line-height: 51px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
}
